@charset "UTF-8";

/* 基本 */
body {
  font-family: sans-serif;
  color: #222;
}

.container {
  width: 84%;
  max-width: 1147px;
  margin: 0 auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  line-height: 1.0em;
  margin-bottom: 2.0em;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.site img {
  width: auto;
  max-width: 100%;
}

svg {
  vertical-align: bottom;
}

.nav,
.catch h1,
.food h2,
.detail p:first-of-type,
.info .subtitle {
  font-family: "Avenir Next", "Segoe UI", Helvetica, sans-serif;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ヘッダー */
.header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 134px;
  text-align: center;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 18px;
  color: #479454;
}

.nav li:not(:last-child) {
  margin-right: 55px;
}

@media (min-width: 768px) {
  .nav ul {
    margin-top: 0;
  }
  .header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
}

/* ヒーロー */
.hero {
  position: relative;
}

.hero figure {
  max-height: 100%;
  height: 450px;
}

.hero figure img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.hero .catch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.hero .catch h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.hero .catch p {
  font-size: 10px;
}

.hero .wave {
  position: absolute;
  right: 0;
  bottom: -10px;
  left: 0;
  margin: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .hero figure {
    height: 750px;
  }

  .hero figure img {
    height: 750px;
  }
  .hero .catch h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .hero .catch p {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  .hero .catch h1 {
    font-size: 56px;
    margin-bottom: 30px;
  }
  .hero .catch p {
    font-size: 24px;
  }
}

/* フード */
.food {
  padding: 30px 0;
  text-align: center;
}

.food h2 {
  color: #479454;
  margin-bottom: 20px;
  font-size: 36px;
}
.food h2 span {
  font-weight: normal;
}

/* フード詳細 */
.detail {
  margin-bottom: 50px;
}

.detail figure {
  max-width: 320px;
  margin: auto;
}

.detail h3 {
  margin-bottom: 16px;
  font-size: 30px;
}
.detail p:first-of-type {
  margin-bottom: 30px;
  color: #479454;
  font-size: 19px;
}
.detail p:last-of-type {
  font-size: 14px;
  line-height: 1.8;
}

@media (min-width: 768px) {
  .details {
    display: flex;
    justify-content: space-between;
  }
  .detail {
    width: 31.5%;
  }
  .detail p:last-of-type {
    font-size: 11px;
  }
}

@media (min-width: 950px) {
  .detail p:last-of-type {
    font-size: 14px;
  }
}

/* 見出しの装飾 */
.bar {
  padding-bottom: 16px;
  position: relative;
}
.bar::before,
.bar::after {
  display: block;
  content: "";
  background-color: #0fde65;
  width: 80%;
  height: 1px;
  position: absolute;
}
.bar::before {
  left: 0;
  bottom: 6px;
}
.bar::after {
  right: 0;
  bottom: 0;
}

.content .bar::before {
  width: 200px;
}

@media (min-width: 768px) {
  .bar {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }

  .bar::before,
  .bar::after {
    width: 73%;
  }

  .content .bar {
    max-width: none;
  }
  .content .bar::before {
    width: 312px;
  }
  .content .bar::after {
    width: 81%;
  }
}

/* フォト */
.photo figure {
  max-height: 100%;
  height: 170px;
}

.photo img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .photo figure {
    height: 367px;
  }

  .photo img {
    height: 367px;
  }
}

/* フッター */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
  background-image: none;
  background-size: cover;
  background-color: #479454;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .site {
  text-align: center;
}
.footer .site p {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer .site {
    text-align: left;
  }
  .footer .site p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
  }
}

/* フッター 背景画像 */
.footer {
  position: relative;
}

.footer .container {
  position: relative;
  z-index: 10;
}

.footer .back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* SNSメニュー */
.sns {
  display: flex;
  list-style: none;
  font-size: 40px;
}

.sns li:not(:last-child) {
  margin-right: 30px;
}

/* コンテンツ */
.content {
  padding-top: 50px;
  padding-bottom: 40px;
}

.content .container {
  max-width: 785px;
}

.content h1 {
  margin-bottom: 25px;
  font-size: 24px;
}

.postbody > * {
  margin-bottom: 2em;
}
.postbody h2 {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  font-size: 20px;
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 10px #479454;/*左線*/
  border-radius: 0.5rem;
}
.postbody h2 [class*="fa-"] {
  margin-right: 15px;
  color: #479454;
}

.postbody h3 {
  margin-top: 2.0em;
  margin-bottom: 1.0em;
  font-size: 16px;
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 10px #62dd77;;/*左線*/
  border-radius: 0.5rem;
}

.postbody p {
  line-height: 1.8;
  margin-bottom: 2.0em;
}
.postbody ul {
  padding-left: 30px;
}
.postbody li:not(:last-child) {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .content {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .content h1 {
    margin-bottom: 40px;
    font-size: 38px;
  }

  .postbody h2 {
    font-size: 28px;
  }
}

/* コンテンツの情報 */
.info {
  margin-bottom: 43px;
  color: #479454;
  font-size: 14px;
}
.info [class*="fa-"] {
  margin-right: 10px;
}

/*
#################################
ブログ
#################################
*/

/* ブログ記事の情報 */
.info time {
  margin-bottom: 5px;
}

.info .cat ul {
  list-style: none;
  display: inline-flex;
}
.info .cat li:not(:last-child)::after {
  content: "・";
  margin: 0 5px;
}

@media (min-width: 768px) {
  .info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
}

/* 前後の記事へのリンク */
.postlink {
  margin-top: 4em;
  list-style: none;
  color: #479454;
  font-size: 14px;
  display: flex;
}

.postlink li {
  width: 48%;
  display: flex;
  align-items: center;
}

.postlink a {
  display: flex;
  align-items: center;
}

.postlink .next {
  margin-left: auto;
  justify-content: flex-end;
}

.postlink .prev [class*="fa-"] {
  margin-right: 10px;
}
.postlink .next [class*="fa-"] {
  margin-left: 10px;
}

/* ブログ記事一覧ページ */
.bloglist .container {
  max-width: 1000px;
}

.bloglist .posts {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* ブログ記事一覧 */
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.posts article {
  width: 48%;
  margin-bottom: 20px;
}

.posts figure {
  max-height: 100%;
  height: 150px;
}

.posts img {
  height: 150px;
  object-fit: cover;
}
.posts h3 {
  margin-top: 10px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .posts h3 {
    font-size: 16px;
  }

  .posts figure {
    height: 200px;
  }

  .posts img {
    height: 200px;
  }
}

/* ページネーション */
.pagenation {
  margin-top: 1.8em;
  list-style: none;
  display: flex;
}

.pagenation .next {
  margin-left: auto;
}

.pagenation a {
  width: 7em;
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: #479454;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.pagenation .next a {
  justify-content: flex-end;
}

.pagenation .prev [class*="fa-"] {
  margin-right: 10px;
}
.pagenation .next [class*="fa-"] {
  margin-left: 10px;
}

/*
#################################
新規追加　ブログ記事装飾
#################################
*/
/* リッチテキスト用のシンタックスハイライトのタイトル*/
.code-block-filename {
  display: table;
  max-width: 100%;
  background: #323e52;
  color: #ffffffe6;
  font-size: 12px;
  line-height: 1.3;
  border-radius: 6px 6px 0 0;
  padding: 6px 12px 14px;
  margin-bottom: -16px;
}
/* Gatsby,Markdown用のシンタックスハイライト */
.gatsby-highlight {
  color: rgb(248, 248, 242);
  background: rgb(39, 40, 34);
  text-shadow: rgb(0 0 0 / 30%) 0px 1px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0px;
  overflow: auto;
  border-radius: 10px 0px 10px 10px;
}

.gatsby-code-title {
  display: block;
  position: relative;
  background: #272822;
  width: 100%;
  top: 16px;
  border-radius: 10px 10px 0px 0px
}

.gatsby-code-title span {
  display: inline;
  position: relative;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  color: #eee;
  background: #777;
  padding: 5px;
  top: 7px;
  border-radius: 10px 0px 0px 0px;
}

/* 問い合わせ用のフォーム */
/* iframe */
.iframe-wrapper {
  position: relative;
  overflow: hidden;
}

.iframe-wrapper iframe {
  top: 0;
  left: 0;
}

/* Blog内のMarkdownのhtmlの装飾(dangerouslySetInnerHTML) */
/* 目次の装飾 */
.table-of-contents {
  line-height: 1.4;
  padding: 0.25em 0.5em;
  margin: 2em 0 0.5em;
  border: solid 6px #479454;
  border-radius: 10px;
}

.table-of-contents a:hover {
  background: linear-gradient(transparent 60%, rgb(120, 255, 102) 40%) /* 縦のグラデーション */
}

/* 引用部分の装飾 */
blockquote {
  position: relative;
  padding: 10px 12px;
  box-sizing: border-box;
  font-style: italic;
  color: #464646;
  border-left: solid 50px #30b458;
  border-radius: 0.5em;
  background: #dcffdc;
}

blockquote:before{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -37px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "\f10d";
  font-family: FontAwesome;
  color: #FFF;
  font-size: 22px;
  line-height: 1;
  font-weight: 900;
}

blockquote p {
  position: relative;
  padding: 0;
  margin: 10px 0;
  z-index: 3;
  line-height: 1.7;
}

blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}

/* SHEARメニュー */
.share {
  max-width: 785px;
  margin: 0 auto;
  background: #dcffdc;
  border-radius: 1.0em;
}
.share p{
  margin: 0em;
  border-radius: 0.5em 0.5em 0em 0em;
}

.share__title {
  font-size: 40px; 
  background: #30b458;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 1.0rem;
}

.social-links {
  display: flex;
  justify-content: center;
  padding: 0.5em
}
